body{
    background: #8506;
    text-align: center;
}

#caja{
    width: 500px;
    padding: 30px 20px;
    text-align: left;
    border: #000 solid 1px;
    display: inline-block;
    background: #1562;
}

#caja form label{
    margin-bottom: 10px;
    font-size: 20px;
}

#caja form input, #caja form select{
    padding: 5px 15px;
    width: 70%;
    margin: 15px 40px;
    font-size: 15px;
}

#caja form button{
    padding: 5px 5px;
    width: 10%;
    margin: 15px 40px;
    align-items: center;
}